.navbar{
    background-color: #A3F2A0;
    padding: 10px 0;
    text-align: center;
    font-weight: bold;
    
}
.navbar-nav .nav-link {
    color: #F25757;
}


.titulo {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.img-fluid {
    height: 10%;
    width: 100%;
}

h2{
    color:#3D9DF2
}